This project is based on Onlook, a visual React application designer. Onlook is like Webflow or Figma, but it's built with React and meant to design React applications.

Whenever I ask you to do something, I want you to dig really deep into the project and code because it's a massive project and you need to make sure you get it right the first time.